<h1>Dear {{name}},</h1>

<p>We would like to inform you that a new post titled "<strong
  >{{postTitle}}</strong>" has been published for your department.</p>

<p>If you have any questions or need further information, please feel free to
  reach out.</p>

<p>Best regards,<br />
  Human Resource Department</p>